* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 174, 112);
    
}
title{
    font-size: 100px;
}

.principal {
    margin: 2rem, -10rem, -10rem, -30rem;
    font-size:large;
    text-size-adjust: true;
    padding: 4rem 4rem 0 4rem;
    
}

.left-side {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0 0 8rem;
    text-align:justify;
    font-size: larger;
    
}

.namelist {
    margin-left: 40rem;
    margin-top: -40rem;

}

.right-side {
    width: 80px;
    height: 80px;
    text-align: right;
    padding-top: 100px;
    position: fixed;

}
input {
    margin-left:  0px;
    width: 400px; 
    font-size: medium;
    border-radius: 25px;
    border: 2px solid rgb(3, 0, 5);
    padding: 10px; 
    height:auto; 
}

button{
    box-sizing: content-box;
    align-items: center;
    border-radius: 25px;
    padding: 8px 4px; 
    width: 70px;
    height: 15px;
}

.buttonAdd{
    background: rgb(123, 207, 141);
}

.buttonRemove{
    background: rgb(207, 123, 123);
}

.buttonDraw{
    background: rgb(123, 115, 233);
}


.image {
    position: fixed;
    right: 50px;         
    top: 100px;  
    width: 40vw;
    margin-bottom: 12rem;
}



